@import "style_01.less";

.content {
    .box-shadow(0px 0px 10px 0px, red);
    .border(1px, solid, gray);
    margin-top: 20px;
    text-align: center;
    .inline-block();
    width: 900px;
}

.ba {
    .ba(92deg, #fff, #FF8D8D, #2090FF);
    margin-top: 20px;
    height: 50px;
    width: 100%;
    .reflect();
}

.filter {
    width: 200px;
    height: 50px;
    background: #FF9090;
    .reflect(70%, 0.1);
}

/*.button {*/
    /*.button(#f65131, #ccc);*/
/*}*/
/*a.button {*/
    /*.button(orange);*/
/*}*/
/*.border {*/
    /*.border(2);*/
/*}*/

