@import "style_02.less";

@ye: #ccc;

* {
  margin: 0px;
  padding: 0px;
}

.content {
  .red(@ye,200px,50%);
  .box-shadow(0 0 12px 0px, #CCC);
  text-align: center;
  margin: 20px;
  color: aliceblue;
}