.a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
a {
    display: inline-block;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(357deg, #fff, #123);
    background-image: linear-gradient(93deg, #fff, #123);
}